// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: false;
$prefix: "mo-";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";


 // Variable overrides first
//$primary: #900;
//$enable-shadows: true;
//$prefix: "mo-";

// Then import Bootstrap
//@import "../node_modules/bootstrap/scss/bootstrap";

#yw-topnav .dropdown-menu a:hover {
  color: var(--navbar-link-hover-color) !important;
}
.checkbox label span {
  margin-left: .5em;
}
#YesWikiModal .modal-header {
flex-direction: row-reverse;
}
.yeswiki-iframe-body .BAZ_menu,
.yeswiki-iframe-body .input-listefiche,
.modal-body .page .BAZ_menu,
.modal-body .input-listefiche {display:none !important}
.group-checkbox-checkboxListeConsentementInscriptionbf_checkbox_group .checkbox {
  display:block;
  width:100%
}
.yeswiki-iframe-body .favorites {
display:none;
}
.group-checkbox-checkboxListeConsentementInscriptionbf_checkbox_group {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
.footer {
  margin: 3.5em 0 2em 0 !important;
  font-size: .9em;
}
.footer > a {
padding:3px 1em}
.footer > a > i.fa {
margin-right:8px;
}
.pull-left {float:left}
.pull-right {float:right}
.alert-success .pull-right.btn-primary { display:none; }
.hide {
display: none !important;
}
